body{background-color:#000;font-family:Georgia,serif;font-style:italic}a{color:blue}
body,html{width:auto;margin:0;padding:0;overflow-x:hidden;overflow-y:auto}
p{margin:0;font-weight:700;}
table{border-collapse:collapse}
td{height:40px;vertical-align:center}
.Blog2 h3,h4,h5{margin-top:2px;margin-bottom:10px;font-size:18px;color:indigo;}
.resultsecond{background-color:ivory;font-size:30px;color:#00f;border-right:none;text-align:center;padding:0;font-family:Georgia,serif}
.c13{background-color:ivory;font-size:24px;font-family:Georgia,serif;border-bottom:1px solid #ff5733;padding-top:14px;padding-bottom:15px;text-shadow:1px 1px 1px pink;font-style:initial}
.Panel_Chart1{background-color:#fff;color:#fff;font-size:large;border-width:2px;border-color:#eaafdf;border-style:groove;font-weight:700;margin-top:10px;margin-bottom:10px;font-style:italic;font-size:20px;text-align:center;text-shadow:0 0 2px #ff0;padding:8px 3px}.Panel_Chart1 a{color:#000}.result123{background-color:#fff;border-top:2px groove aqua;border-bottom:2px groove aqua;border-left:2px groove aqua;border-right:2px groove aqua;font-family:trebuchet MS,sans-serif;font-size:20px;color:#000;padding-top:0;padding-bottom:0;font-weight:700;font-style:italic;text-align:center}.jodi{background-color:#fff;color:orange;font-size:large;border-width:2px;border-color:#a569bd;border-style:groove;font-weight:700;margin-top:10px;margin-bottom:10px;font-style:italic;font-size:20px;text-align:center;text-shadow:0 0 2px #ff0;border-radius:2px;padding:10px 5px}.jodi a{color:#000}.Panel_Chart{background-color:#fff;color:orange;font-size:large;border-width:2px;border-color:#76d7c4;border-style:groove;font-weight:700;margin-top:10px;margin-bottom:10px;font-style:italic;font-size:20px;text-align:center;text-shadow:0 0 2px #ff0;border-radius:2px;padding:8px 3px}.Panel_Chart a{color:#000}.panel{background-color:#fff;color:red;font-size:large;border-width:2px;border-color:aqua;border-style:groove;font-weight:700;margin-top:9px;margin-bottom:9px;font-style:italic;font-size:20px;text-align:center;text-shadow:0 0 2px #ff0;border-radius:2px;padding:10px 3px}.panel a{color:#000}.Guessing_Link{background-color:ivory;color:orange;font-size:large;border-width:3px;border-color:salmon;border-style:solid;font-weight:700;margin-top:10px;margin-bottom:10px;font-style:italic;font-size:24px;text-align:center;text-shadow:1px 1px #ff0;padding:15px 3px}.Guessing_Link a{font-weight:700;font-family:Georgia,serif;color:#000;font-size:20px}.frame{font-size:18px;border-bottom:1px solid #000;border-left:none;border-right:none;text-align:center;padding:12px 10px 2px;font-family:Georgia,serif}.fontframe{font-weight:700;font-size:24px;font-family:Georgia,serif;font-style:italic;text-shadow: 1px 2px 1px antiquewhite;}.tableset{font-weight:600;color:#900c3f;font-size:15px;    font-family: Tahoma,Geneva,sans-serif;font-style:initial}.time_right{float:right}.time_left{float:left}.black{font-weight:700;color:#000;font-size:27px;font-family:Tahoma,Geneva,sans-serif;font-style:initial;margin-bottom:15px;text-shadow: 1px 2px 1px antiquewhite;}.liveBlack{font-weight:700;color:#000;font-size:27px;font-family:Tahoma,Geneva,sans-serif;font-style:initial;margin-bottom:5px}.orange{font-weight:700;color:red;font-size:15px;font-family:Georgia,serif;text-align:center}.Imp_content{background-color:#90f;color:#fff;font-weight:700;padding:10px;font-size:large;text-decoration:blink;text-shadow:1px 1px #000;font-size:22px;text-align:center;font-style:italic}.fixed{position:fixed;bottom:5px;right:5px}.rec{background-color:#fff;border-color:#f0f;font-style:initial;border-style:solid;text-align:center;text-shadow:0 1px gold;font-size:16px;color:#000;font-family:Georgia,serif;padding-top:10px;padding-bottom:10px;margin-top:7px;margin-bottom:7px}.Blog2{background-color:white;color:#000;padding-top:10px;padding-bottom:10px;text-align:center;border-width: 2px;border-color: none;border-style: solid;}.impLinks{border:0 solid pink;text-align:left;font-style:normal;font-family:Georgia,serif}.impLinksHead{background-color:azure;padding:10px 0 5px;border-color:#f0f;border-style:solid;margin-top:7px;text-align:center}.impLinksHead span{color:red;font-size:22px;font-weight:700}.freeGame{background-color:#fff;padding:5px 5px 5px 0;font-style:italic;text-shadow:0 0 2px #fef71b;border:magenta solid 1px;}.freeGame .freeGameResult{font-size:160%;text-align:left}.Header_One{background-color:purple;color:#fff;font-size:14px;text-align:center;font-style:initial;margin-bottom:1px;border:#000 solid 2px;padding:1px}.Header_One h1{background:-webkit-linear-gradient(black,red);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-style:initial;font-weight:700;text-shadow:-1px 1px 0 #ff0;text-decoration:underline;font-size:31px;margin:3px}.Header_One h2{color:#fff;text-align:center;font-style:italic;font-size:15px}.Header_One a{color:#fff}.c13{background-color:ivory;font-size:24px;font-family:Georgia,serif;border-bottom:1px ridge red;padding-top:14px;padding-bottom:15px;text-shadow:1px 1px 1px pink;font-style:initial}.liveresult{background-color:red;color:#000;font-size:28px;text-align:center;font-style:initial;font-family:Georgia,serif;padding:2px}.liveresult h3{font-size:25px;font-weight:700;color:#fff;margin:10px 0}.Section{background-color:#884ea0;color:#fff;margin-top:5px;margin-bottom:0;font-style:initial;font-size:22px;text-align:center;font-family:Georgia,serif;padding:10px 0}.Section h3{margin:5px}.ribbon{text-align:center;border-radius:5px;background-color:rgba(60,10,80,.79);color:#fff;font-weight:700;width:100px;font-style:initial;font-size:14px;border:1px solid #fff;text-decoration:none;padding:3px;display:inline-block;border-width:0;border-color:#f0f;border-style:inherit;text-align:center}.ratan{background-color:#fff;font-size:20px;color:#000;margin-top:4px;font-weight:700;font-style:initial;text-align:center}.milanstar{background-color:#fff;font-size:18px;color:#000;margin-top:4px;font-weight:700;font-style:initial;text-align:center}.milanstarbg{background-color:pink;padding-bottom:6px;padding-top:6px}.ratanbg{background-color:#ff0;padding-bottom:6px;padding-top:6px}.refresh{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:6px;color:#fff;font-family:Georgia,serif;font-size:16px;font-weight:900;padding:4px 6px;background-color:rgba(30,60,80,.79);-webkit-box-shadow:0 1px 0 0 #000;-moz-box-shadow:0 1px 0 0 #000;box-shadow:0 1px 0 0 #000;text-decoration:none;display:inline-block;cursor:pointer;text-align:center;margin-bottom:0}.refresh:hover{background:#ff146e;border:solid #fff 1px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;text-decoration:none}.fixed{position:fixed;bottom:5px;right:5px}.h4,h5,h6{font-size:16px;font-weight:700;color:#000;margin:10px 0}.BGred{background-color:red}.BGgreen{background-color:green}.BGpurple{background-color:purple}.BGblack{background-color:#000}.BGblue{background-color:blue}.BGbrown{background-color:brown}.BGwhite{background-color:#fff}.BGyellow{background-color:#ff0}.red{color:red}.green{color:green}.purple{color:purple}.blue{color:blue;font-weight:700;}.brown{color:brown}.white{color:#fff}.yellow{color:#ff0}.freeank{background-color:#90f;margin:7px 0 0;padding:10px;border:0 solid #ff0;text-align:center;color:#fff}.open{margin:10px;text-align:left;color:#291d6b}.otc{font-size:110%;font-weight:700;color:#000}.freejodi{margin:10px;text-align:left;font-size:17px;color:blue;font-weight:700;}.jodii{font-weight:700;text-align:left;color:#000}.patti{margin:10px;text-align:left;font-size:17px;color:blue}.panaa{font-weight:700;text-align:left;color:#000}.close{margin:10px;text-align:left;color:#291d6b}.clos{font-size:110%;text-align:left;font-weight:700;color:#000}.passing{margin:10px;text-align:left;color:#000}.paas{font-size:110%;text-align:left;font-weight:700;color:#000}.tablecss, td {
    table-layout: fixed;
    border: 2px solid #000;
    text-align: center;
    width: 100%;
}

.telegram {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 6px;
    color: #fff;
    font-family: Georgia,serif;
    font-size: 16px;
    font-weight: 900;
    padding: 4px 6px;
    background-color: rgba(30,60,80,.79);
    -webkit-box-shadow: 0 1px 0 0 #000;
    -moz-box-shadow: 0 1px 0 0 #000;
    box-shadow: 0 1px 0 0 #000;
    text-shadow: -3px -55px 65px #000;
    border: solid #000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 0;
}
.telegram {
    position: fixed;
    bottom: 5px;
    left: 5px
}


.homefooter{background-color:#fffaf0;color:#000;font-size:20px;font-family:Trebuchet MS;text-align:center;font-style:initial;margin-top:8px;border-width:3px;border-color:aqua;border-style:inset;border-radius:5px;padding:2px;}


.link {
    background: #AA076B;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
    border: 2px solid #EC11E2;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 8px;
    color:#fff;font-size:18px;font-weight:bold;
}

.btn-refresh {
    padding: 0.25rem 0.75rem;
    color: #fff;
    margin-top: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
}

.chart_btn{
color: #fff;
      background-color: green;
    border-color: #4cae4c;
    padding: 3px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0px 0 0;
    font-style: normal;
      width: 65%;

}
.chart_btn a{
  color: #fff;
  text-decoration: none;
  padding: 3px;
   display:block;}
   
   .link {
    background: #AA076B;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
    border: 2px solid #EC11E2;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 8px;
    color:#fff;font-size:18px;font-weight:bold;
}

.btn-refresh {
    padding: 0.25rem 0.75rem;
    color: #fff;
    margin-top: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
}

.chart_btn{
color: #fff;
      background-color: green;
    border-color: #4cae4c;
    padding: 3px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0px 0 0;
    font-style: normal;
      width: 65%;

}
.chart_btn a{
  color: #fff;
  text-decoration: none;
  padding: 3px;
   display:block;
}

.bg-1{background: white;/* fallback for old browsers */
}

@media only screen and (max-width: 321px) {
.Header_One h1{background:-webkit-linear-gradient(black,red);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-style:initial;font-weight:700;text-shadow:-1px 1px 0 #ff0;text-decoration:underline;font-size:23px;margin:3px}
.c13{background-color:#fffff0;font-size:19px;font-family:Georgia,serif;border-bottom:1px ridge red;padding-top:14px;padding-bottom:15px;text-shadow:1px 1px 1px #ffc0cb;font-style:initial}
.liveBlack{font-weight:700;color:#000;font-size:19px;font-family:Tahoma,Geneva,sans-serif;font-style:initial;margin-bottom:5px}
.Section{background-color:#884ea0;color:#fff;margin-top:5px;margin-bottom:0;font-style:initial;font-size:15px;text-align:center;font-family:Georgia,serif;padding:10px 0}
.fontframe{font-weight:700;font-size:18px;font-family:Georgia,serif;font-style:italic;text-shadow: 1px 1px 1px black;
}
.black{font-weight:700;color:#000;font-size:18px;font-family:Tahoma,Geneva,sans-serif;font-style:initial;margin-bottom:15px}
.tableset{font-weight:600;color:#900c3f;font-size:10px;letter-spacing:.5pt;font-family:Georgia,serif;font-style:initial}
.ribbon{text-align:center;border-radius:5px;background-color:rgba(30,60,80,.79);color:#fff;font-weight:700;width:auto;font-style:initial;font-size:14px;border:1px solid #fff;text-decoration:none;padding:3px;display:inline-block;border-width:0;border-color:#f0f;border-style:inherit;text-align:center}
.homefooter{background-color:#fffaf0;color:#000;font-family:Georgia,serif;text-align:center;font-style:italic;margin-top:8px;border-width:3px;border-color:aqua;border-style:groove;border-radius:3px;font-size:13px;}
.refresh{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:6px;color:#fff;font-family:Georgia,serif;background-color:rgba(30,60,80,.79);-webkit-box-shadow:0 1px 0 0 #000;-moz-box-shadow:0 1px 0 0 #000;box-shadow:0 1px 0 0 #000;text-decoration:none;display:inline-block;cursor:pointer;text-align:center;margin-bottom:0}.Imp_content{background-color:#90f;color:#fff;font-weight:700;font-size:large;text-decoration:blink;text-shadow:1px 1px #000;text-align:center;font-style:italic}
.impLinksHead span{color:red;font-size:16px;font-weight:700}
.panel{background-color:#fff;color:red;border-width:2px;border-color:aqua;border-style:groove;font-weight:700;margin-top:9px;margin-bottom:9px;font-size:14px;text-align:center;text-shadow:0 0 2px #ff0;border-radius:2px;padding:10px 3px}
.jodi{background-color:#fff;color:orange;border-width:2px;border-color:#a569bd;border-style:groove;font-weight:700;margin-top:10px;margin-bottom:10px;font-style:italic;font-size:15px;text-align:center;text-shadow:0 0 2px #ff0;border-radius:2px;padding:10px 5px}
.Panel_Chart1{background-color:#fff;color:#fff;font-size:large;border-width:2px;border-color:#eaafdf;border-style:groove;font-weight:700;margin-top:10px;margin-bottom:10px;font-style:italic;font-size:15px;text-align:center;text-shadow:0 0 2px #ff0;padding:8px 3px}
.Panel_Chart{background-color:#fff;color:orange;font-size:large;border-width:2px;border-color:#76d7c4;border-style:groove;font-weight:700;margin-top:10px;margin-bottom:10px;font-style:italic;font-size:15px;text-align:center;text-shadow:0 0 2px #ff0;border-radius:2px;padding:8px 3px}
.Blog2{background-color:#fff;color:#000;padding-top:10px;padding-bottom:10px;text-align:center;border-width:1px;border-color:black;border-style:solid;font-size:14px;font-weight:100;}
.fixedleft{position:fixed;bottom:5px;left:5px}

.link {
    background: #AA076B;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
    border: 2px solid #EC11E2;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 8px;
    color:#fff;font-size:18px;font-weight:bold;
}

.btn-refresh {
    padding: 0.25rem 0.75rem;
    color: #fff;
    margin-top: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
}

.chart_btn{
color: #fff;
      background-color: green;
    border-color: #4cae4c;
    padding: 3px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0px 0 0;
    font-style: normal;
      width: 65%;

}
.chart_btn a{
  color: #fff;
  text-decoration: none;
  padding: 3px;
   display:block;}
   
   .link {
    background: #AA076B;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
    border: 2px solid #EC11E2;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 8px;
    color:#fff;font-size:18px;font-weight:bold;
}

.btn-refresh {
    padding: 0.25rem 0.75rem;
    color: #fff;
    margin-top: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
}

.chart_btn{
color: #fff;
      background-color: green;
    border-color: #4cae4c;
    padding: 3px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0px 0 0;
    font-style: normal;
      width: 65%;

}
.chart_btn a{
  color: #fff;
  text-decoration: none;
  padding: 3px;
   display:block;
}


.telegramBtn {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 6px;
    color: #fff;
    font-family: Georgia,serif;
    font-size: 16px;
    font-weight: 900;
    padding: 4px 6px;
    text-decoration: none;
    background: black;
    position: fixed;
    bottom: 10px;
    left: 5px;
}
.telegramBtn::after{
  content: "";
  background: red;
  width: calc(100% + 20px);
  height: 0;
  color: #fff;
  position: absolute;
  bottom: -4px;
  left: 0px;
  border-radius: 6px;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.telegramBtn:hover::after{
  height: calc(100% + 8px)
}


.bg-1{background: white;/* fallback for old browsers */
}}